<html>
  <head>
    <title>My Aviva Vault</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/jquery.dropotron.min.js"></script>
    <script src="../../js/skel.min.js"></script>
    <script src="../../js/skel-layers.min.js"></script>
    <script src="../../js/init.js"></script>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- Bootstrap -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!--     <link href="/css/bootstrap.css" rel="stylsheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet"> -->
    <noscript>
      <link href="/css/bootstrap.css" rel="stylsheet">
      <link href="/css/bootstrap-responsive.css" rel="stylesheet">
      <link rel="stylesheet" href="../../css/skel.css" />
      <link rel="stylesheet" href="../../css/style.css" />
<!--       <link rel="stylesheet" href="../../css/bootstrap.min.css" />
 -->
    </noscript>
    <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
  </head>
  <body class="landingPageBack">
      <div class="navbar bodyColor color" >
        <div class="container">
            <div class="navbar-header">
                           <img src="http://i72.photobucket.com/albums/i162/carycheng77/logo-Aviva_zps3inbti6j.png" alt="" />

            </div>       
        </div>
    </div>
   <!--/.NAVBAR END-->
        
        <!-- Caroursel Area -->
       <section id="home" class="text-center landingPageBack">
         
                        <div class="item active">
                            <div class="carousel-inner">
                                    <img src="http://i72.photobucket.com/albums/i162/carycheng77/Screen%20Shot%202015-05-08%20at%204.10.31%20PM_zps2ewpubob.png" alt=""/>
                   
                            </div>              
                        </div> 

                        <div class="iconPadding">
                            <a href="box.com">
                                <img src="http://i72.photobucket.com/albums/i162/carycheng77/Screen%20Shot%202015-05-09%20at%2010.23.35%20AM_zpsmjbgsbgs.png" alt=""/>
                            </a>

                            <a href="#">
                                <img src="http://i72.photobucket.com/albums/i162/carycheng77/Screen%20Shot%202015-05-09%20at%2010.23.45%20AM_zpsu7x8pi27.png" class="iconPaddingLeft" alt=""/>
                            </a>

                            <a href="#">
                                <img src="http://i72.photobucket.com/albums/i162/carycheng77/Screen%20Shot%202015-05-09%20at%2010.24.02%20AM_zpsbu1ezs3s.png" class="iconPaddingLeft" alt=""/>
                             </a>
                        <div>

                        <div>
                            <img src="http://i72.photobucket.com/albums/i162/carycheng77/Screen%20Shot%202015-05-09%20at%2010.41.01%20AM_zpslgxeiivd.png" class="importantPadding" alt=""/>

                            <img src="http://i72.photobucket.com/albums/i162/carycheng77/Screen%20Shot%202015-05-09%20at%2010.41.09%20AM_zpsiwhnkwrr.png" class="photoPadding" alt=""/>

                            <img src="http://i72.photobucket.com/albums/i162/carycheng77/Screen%20Shot%202015-05-09%20at%2010.41.15%20AM_zpszo0ccz8y.png" class="sharePadding" alt=""/>
                        </div>

                        <form class="navbar-form navbar-left searchPadding" role="search">
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search your vault">
                          </div>
                          <button type="submit" class="btn btn-default searchColor">Search</button>
                        </form>
       </section>
    </body>

